<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Index Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <%- include('../partials/nav') %>
    <h1><%= message %> - All Cars</h1>
    <ul>
     
      <% Car.forEach(Car => { %>
        <li><a href="/Car/<%= Car._id %>"><%= Car.name %></a></li>
      <% }); %>
    </ul>

    <div class="index-header-div">
      <h1>All Cars</h1>
      <a class="add-Car" href="/Car/new">Add Car</a>
    </div>
    <ul>
      <% Car.forEach((Car)=> { %>
      <li>
        <a class="Car-cards" href="/Car/<%=Car._id%>">
          <%= Car.name %>
        </a>
      </li>
      <% }) %>
    </ul>

    <a href="/">Go Back to Homepage</a> | <a href="/Car/new">Add new Car</a>
  </body>
  
</html>